.change-password-container {
    padding: 20px;
    .form-group {
      margin-bottom: 10px;
      label {
        display: block;
      }
      input[type="password"] {
        width: 100%;
      }
      .error {
        color: red;
        font-size: 0.8em;
      }
    }
  }