<div class="forget-password-container">
    <div class="breadcrumb">
        Reset Password
    </div>

    <div class="reset-message">
        Reset Password
    </div>
    
    <form class="reset-form">
        <div class="form-group">
            <input type="text" placeholder="Username" [formControl]="username">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
                Username is required
            </div>
        </div>
        <div class="actions">
            <button type="button" class="back-login" (click)="router.navigate(['/login'])">Back to Login</button>
            <button type="button" (click)="onSubmit()" [disabled]="!username.valid">Reset Password</button>
        </div>
    </form>
</div>